<div class="header">
  <div class="content">
    <h1>Locations App</h1>
  </div>
</div>

<div class="main-container content">
  <div>
    <h1>Locations</h1>
    <button (click)="openLocationFormDialog()">Add New Location</button>
  </div>

  @if (!loading) {
    <pagination [pageMeta]="(pageMeta())"
      (pageChange)="onPageChange($event)">
    </pagination>
  }
  @for (location of locations(); track location.id) {
    <location-row [location]="location"
      (editLocation)="openLocationFormDialog($event)"
      (deleteLocation)="onDeleteLocation($event)">
    </location-row>
  }
</div>
